# Ignore Clasp config files
.clasp.json
.clasprc.json
.claspignore
appsscript.json

# Ignore node_modules directory
node_modules/

# Ignore non essential .js files
practiceSingleton.js
object practice.js
test.js
